*{
    font-family: monospace;
}
img {
    height: 10%;
    width: 10%;
    min-width: 5.5rem;
    max-width: 8rem;
    clear: both;
}

h3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    font-weight: 600;
    padding-top: 1.5%;
}

h1{
    max-width: 68%;
    margin: 0 auto;
    text-align: center;
    font-size: 150%;
    word-spacing: 0;
    padding-top: 2%;
}

.button {
    opacity: .75;
    fill: none;
    filter: invert();
    stroke: aquamarine;
    stroke-width: 20px;
}

.button:hover {
    cursor: pointer;
    fill: orange !important;
    stroke-width: 20;
    opacity: .95;
}

.button:active{
    fill: orangered;
    opacity: .8;
}

#controls {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 19%;
}

#resultDiv{
    display: block;
    text-align: center;
    padding-top: 30%;
    font-size: smaller;
    font-style: italic;
}

#scoreDiv {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#left {
    float: left;
    text-align: left;
    padding-top: 13%;
}

#right {
    float: right;
    text-align: right;
    padding-top: 13%;
}

#left>h2 {
    color:rgb(0, 210, 210);
}

#right>h2 {
    color: rgb(216, 0, 0);
}

p{
    min-width: 10rem;
    max-width: 10rem;
}

div {
    display: block;
}

p {
    display: inline;
    border: 0rem solid black;
    max-width: 100px;
    min-width: 100px;
    position: static;
}

body {
    background-color: black;
    color: rgba(255,255,255,.90);
    max-width: 600px;
    min-width: 500px;
    min-height: 500px;
    margin: 2.5% auto 0;
    font-size: 18px;
    letter-spacing: .2rem;
}

.middle {
    visibility: hidden;
    text-align: center;
}

#resultText{
    display: inline;
}

.wins{
    display: inline;
}


.blinking {

    animation: opacity 1s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

#player, #computer {
    border: .1rem solid rgba(255,255,255,.90);
    margin-top: 3rem;
    padding: .6rem;
    border-radius: .8rem;
    font-size: 130%;
}

span.hidden {
    margin-top: 4rem;
}

div.middle {
    margin-top: 2.7rem;
}


/*modal styles here*/
.modal {
    position: absolute;
    display: flex;
    justify-content: center;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 90%;
    background-color: rgba(45, 45, 45, .6);
    opacity: 1;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    border-radius: 1rem;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

.close-button {
    float: right;
    position: static;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

#modalResult{
    display: block;
    font-size: 5rem;
    text-align: center;
    padding: 15% 0;
}

span+h4{
    font-size: 1.5rem;
    display: flex;
    justify-content: flex-start;
    margin-bottom: -3rem;
    padding-left: 2rem;
    padding-top: 8rem;
}

label{
    text-align: end;
    vertical-align: bottom;
}