*{
    font-family: monospace;
}
img {
    height: 10%;
    width: 10%;
    min-width: 5.5rem;
    max-width: 8rem;
}

h3 {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: large;
    font-weight: 600;
    padding-top: 1.5%;
}

h1{
    max-width: 68%;
    margin: 0 auto;
    text-align: center;
    font-size: 133%;
    word-spacing: 0;
    padding-top: 2%;
}

.button {
    opacity: .7;
    fill: none;
    filter: invert();
    stroke: aquamarine;
    stroke-width: 20px;
}

.button:hover {
    cursor: pointer;
    fill: orange !important;
    stroke-width: 20;
    opacity: .95;
}

.button:active{
    fill: orangered;
    opacity: .8;
}

#controls {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 19%;
}

#resultDiv{
    display: block;
    text-align: center;
    padding-top: 30%;
    font-size: smaller;
    font-style: italic;
}

#scoreDiv {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#left {
    float: left;
    text-align: left;
    padding-top: 13%;
}

#right {
    float: right;
    text-align: right;
    padding-top: 13%;
}

#left>h2 {
    color:rgb(0, 210, 210);
}

#right>h2 {
    color: rgb(216, 0, 0);
}

p{
    min-width: 10rem;
    max-width: 10rem;
}

div {
    display: block;
}

p {
    display: inline;
    border: 0rem solid black;
    max-width: 100px;
    min-width: 100px;
    position: static;
}

body {
    background-color: black;
    color: rgba(255,255,255,.88);
    max-width: 600px;
    min-width: 500px;
    min-height: 500px;
    margin: 2.5% auto 0;
    font-size: 18px;
    letter-spacing: .2rem;
}

.middle {
    visibility: hidden;
    text-align: center;
}

#resultText{
    display: inline;
}

.wins{
    display: inline;
}


.blinking {

    animation: opacity 1.2s ease-in-out infinite;
    opacity: 1;
}

@keyframes opacity {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0
  }

  100% {
    opacity: 1;
  }
}

#player, #computer {
    border: .1rem solid rgba(255,255,255,.88);
    margin-top: 3rem;
    padding: .6rem;
    border-radius: .8rem;
    font-size: 130%;
}

span.hidden {
    margin-top: 4rem;
}

div.middle {
    margin-top: 2.7rem;
}